@import "../../global.scss";


.portfolio { 
    background-color: rgb(228, 152, 203);
    display: flex;


.wrapper{
    width: 800px;
    margin: 20px auto;
    margin-bottom: 20px;
    padding: 30px;

    
    h1{
        padding-left: 250px;
        padding-bottom: 60px;
        font-size: 50px;
        font-weight: 800;
    }

    img{
        padding-left: 150px;
    }

    p{
        display: inline-block;
        padding-left: 30px;
        font-size: 25px;
        font-weight: 600;
    }

    
}




  
}


   
  


